@using Dominio;

@model IndexViewModel

@{
    ViewData["Title"] = "Proveedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="text-align:center"><strong>LISTA DE PROVEEDORES </strong></h3>
<div style=" width:8%; margin-left: 931px">
    <a style=" width:20px margin-right: 200px" type="button" class="btn  form-control" asp-controller="Proveedores" asp-action="CrearProveedor"><img src=" /img/anadir-amigo.png" style="margin:auto; height:35px" class="logo" /></a>
</div>

<div class=" tabla ">
    <table class="table table-bordered " id="table_proveedores">
        <thead class="table-light">
            <tr>
                <th class="Id">
                    <h5 style="text-align: center">Id Proveedor</h5>
                </th>
                <th class="nombre">
                    <h5>Nombre</h5>
                </th>
                <th class="nit">
                    <h5>Nit</h5>
                </th>
                <th class="contacto">
                    <h5>Contacto</h5>
                </th>
                <th class="email">
                    <h5>Email</h5>
                </th>
                <th class="telefono">
                    <h5>Telefono</h5>
                </th>
                <th class="estado">
                    <h5>Estado</h5>
                </th>
                <th class="opciones">
                    <h5 style="text-align: center">Opciones</h5>
                </th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model.ProveedorList)
            {
                <tr>
                    <td>
                        @item.ID_PROVEEDOR
                    </td>
                    <td>
                        @item.NOMBRE
                    </td>
                    <td>
                        @item.NIT
                    </td>
                    <td>
                        @item.CONTACTO
                    </td>
                    <td>
                        @item.EMAIL
                    </td>
                    <td>
                        @item.TELEFONO
                    </td>
                    <td>
                        @item.ESTADO
                    </td>
                    <td class="gestion" style="width: 20%">
                        <a asp-action="EditarProveedor" asp-controller="Proveedores" asp-route-ID_PROVEEDOR="@item.ID_PROVEEDOR"><img style="width: 15%" ; src="~/img/lapiz.png" /></a>
                        <a asp-action="Eliminar" asp-controller="Proveedores" asp-route-ID_PROVEEDOR="@item.ID_PROVEEDOR"><img style="width: 15%" src="img/basura.png" /></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#table_proveedores').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                },
            });
        });


    </script>
  }